#footer-blur {
    background: #000;
    text-align: center;
    padding: 10px;
}

.footer-social-blur {
    display: inline;
}

.footer-social-blur i {
    color: rgb(126, 126, 126);
    margin: 0 5px;
} 
